<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
  <link rel="stylesheet" href="/css/admin.css" />
<body>


<form action="?" method="post" enctype="multipart/form-data" >

<div style="margin:100px auto;height:800px;width:1200px;">

<h1>文章添加页面</h1>

标题：<input type="text" name="title"/><br><br>
内容： <textarea name="txt" id="" cols="30" rows="10"></textarea><br><br>
图片：<input type="file" name="href"  accept="image/*" /><br><br>
<input type="submit" value="提交"/> <a href="javascript:window.history.go(-1);">取消</a>
</div>


</form>
</body>
</html>